<div>
  <h1 class="dog_name">Bella</h1>
  <%= image_tag 'bella.jpg', class: "img-responsive match img-circle img-thumbnail home-image" %>
  <h4 class="no-bottom-margin"> Dillon &middot Female &middot Lab</h4>
  <h4 class="no-top-margin"> 53lbs &middot 3yrs</h4>
</div>
