<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <p><%= image_tag current_user.image_url, class: "img-circle home-image owner-img" %>
        Welcome, Krista </p>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "SEARCH", new_observation_path, id: "matches" %> </li>
        <li><%= link_to "MATCHES (#{matches.count})", matches_path, id: "matches" %> </li>
        <li><%= link_to "LOGOUT", logout_path, :method => :delete, id: "logout"%></li>
      </ul>
    </div>
  </div>
</nav>
