<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" id="white" href="/">UNLEASH</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <%=link_to "SEARCH", new_observation_path, id: "white" %></li>
        <li> <%=link_to "MATCHES (#{matches.count})" , matches_path, id: "white" %></li>
        <li> <%= link_to "LOGOUT", logout_path, method: :delete, id: "white" %></li>
        <li class="active" id="white"><%= image_tag current_user.image_url,
            class: "img-circle home-image owner-img" %>
            <span class="sr-only">(current)</span>
        </li>
      </ul>
    </div>
  </div>
</nav>
