<div class="container-fluid text-center welcome-page">
  <div class="row text-center main_image">
    <h1 class="title"> UNLEASH </h1>
    <p class="tag-line"> GET OUT AND PLAY </p>
    <%= link_to("GET STARTED", "/auth/facebook", class: "login")  %>
  </div>
  <div class="row text-center intro-quote">
    <p> We all have busy schedules, and days can run late which means long days for our pets stuck at home.
      Unleash connects you and your pet with others in your community! Setup play dates, find a walking buddy, or take turns
      dog sitting with a neighbor when you are gone on busines trips. Win for you, win for your neighbor, and most importantly a win for your pet! </p>
  </div>
  <div class="row site-description">
    <div class="col-md-2"></div>
    <div class="col-md-2 desc">
      <h2><i class="glyphicon glyphicon-search search"></i> MEET </h2>
      <p> Don't let your pet be cooped up all day! Get connected to local
          dogs near you that are compatible for your K-9 loved one!
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 desc">
      <h2><i class="glyphicon glyphicon-heart heart"></i> PLAY</h2>
        <p> Now that you found a match, get out and PLAY! Search lists of
            local parks, bars and restaurants that dog friendly and a hit with
            other dog owners!
        </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2 desc">
      <h2><i class="glyphicon glyphicon-map-marker marker"></i> JOIN</h2>
      <p> Browse through local community events that are dog friendly, start
          a meetup, or be notified when a dog friendly event is scheduled near
          you!
      </p>
    </div>
  </div>
</div>
