$light_lime: #e9f198
$teal: #5E8D9C
$link-color:       $light_lime
$link-hover-color: darken($link-color, 30%)

.dog-form
  margin: 100px
  margin-top: 20px
  padding: 100px
  color: white
  font-size: 20px
  background: grey

img.img-circle.img-thumbnail.home-image
  height: 150px
  margin-bottom: 50px
