$light_lime: #e9f198
$link-color:       $light_lime
$link-hover-color: darken($link-color, 30%)
$red: #C42636
$mygrey: #d0d0d0
$teal: #5E8D9C


.welcome-msg
  margin-left: -55px
  margin-top: 35px

.user_profile
  margin-top: 20px

.intro
  margin-top: 50px

.no-bottom-margin
  margin-bottom: 0px

.dog_name
  margin-top: 50px

.red-paw
  margin: 200px 20px 0px 0px
  color: lighten($red, 15%)
  font-size: 70px

.green-paw
  margin-top: 200px
  color: darken($light_lime, 10%)
  font-size: 70px

#paw-btn
  background: white
  padding: 0px
  border-style: none

.cancel
  float: right
  font-size: 17px

.form-margin
  margin: 50px 80px 50px 80px

.file
  margin-left: 35px

.dog-profile.col-md-3
  height: 600px
  border-right: 3px solid lighten($mygrey, 12%)
  background: lighten($mygrey, 17%)
  padding: 0px


.dog-profile h4
  line-height: 80%

.grey-font
  margin-top: 40px
  color: darken($mygrey, 10px)

.dog-form
  margin: 200px
  margin-top: 50px
  padding: 50px
  color: white
  font-size: 18px
  background: grey
  border-radius: 10px

.section
  margin: 20px 100px

.form-section
  margin: 20px 0px 50px 0px
  padding: 30px
  background: rgb(190, 190, 190)
  border-radius: 10px

.dog-form-banner
  background: $teal
  margin-top: -10px
  padding: 20px
  color: white

.index
  padding: 60px

img.img-circle.img-thumbnail.home-image
  height: 150px
  margin: 0px 10px 0px 10px

img.owner-img.img-circle.home-image
  height: 50px
  border: 1px solid white
  margin: 4px

img.img-circle.img-thumbnail.home
  height: 250px
  border: 1px solid white
  margin: 4px 4px 30px 4px

img.intro-img.img-circle.home-image
  height: 125px
  border: .5px solid white
  margin: 15px

img.img-circle.img-thumbnail.match
  height: 225px
  border: .5px solid white
  margin: 15px

#example
  height: 350px
  border: 5px solid grey
