$red: #C42636
$light_lime: #e9f198
$teal: #5E8D9C

.welcome-page

.main-image
  margin: -15px
  height: 800px
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/assets/unleash_crop.png) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

.title
  font-size: 72px
  margin: 20px
  margin-bottom: 0px
  margin-top: 150px
  border-bottom: 2px solid $teal
  color: white

.tag-line
  margin-top: 0px
  margin-bottom: 50px
  font-size: 20px
  color: white

.login
  margin: 15px
  font-size: 20px
  color: white
  text-decoration: none
  padding: 7px
  border: 3px solid
  border-radius: 10px

  &:hover
    color: lighten($red, 5%)
    text-decoration: none

.intro-quote
  background: rgba(0, 0, 0, .7)
  margin-top: 350px
  margin-bottom: 50px
  padding: 50px
  font-size: 26px
  font-style: italic
  color: white

.glyphicon
  font-size: 16px

.site-description
  margin: 50px

.desc p
  margin-top: 25px
  margin-bottom: 25px

.search
  color: $teal

.heart
  color: $red

.marker
  color: $teal
